.carrito-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
 max-width: 1200px; 
  margin: 0 auto;
}
.carrito-page .carrito-total {
  text-align: right;
  margin-left: auto;
  width: 100%;
}
.carrito-page h2 {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.carrito-vacio {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}

.carrito-lista {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.carrito-item {
  display: flex;
  align-items: stretch; 
  gap: 1rem;
  background: #2c2c2c;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  height: 220px;
}

.carrito-img {
  flex-shrink: 0;
  height: 100%;        
  width: 200px;           
  object-fit: cover;     
  border-radius: 6px;
  background: #f9f9f9;
}

.carrito-info {
  flex: 1;
  padding: 1rem;
}
/* ✅ NUEVAS REGLAS para el contenedor de especificaciones */
.carrito-specs-container {
  flex: 1; /* Permite que este contenedor también ocupe espacio */
  display: flex;
}

.carrito-especificaciones {
  text-align: left;
  padding: 0.5rem;
}

.carrito-especificaciones p {
  margin: 0.2rem 0;
  color: whitesmoke;
  font-size: 1rem;
}

.carrito-info h3 {
  font-size: 1rem;
  margin: 0;
}

.carrito-info p {
  margin: 0.2rem 0;
  color: whitesmoke;
}

.precio {
  font-weight: bold;
  color: #2e7d32;
}

.eliminar-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #c62828;
  transition: transform 0.2s;
}

.eliminar-btn:hover {
  transform: scale(1.1);
}

.carrito-total {
  padding-top: 1rem;
  border-top: 2px solid #eee;
  text-align: right;
}

.checkout-btn {
  background: #2e7d32;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
  transition: background 0.3s ease;
}

.checkout-btn:hover {
  background: #1b5e20;
}

/* Media Queries para Tablet */
@media (max-width: 768px) {
  /* La imagen se mantiene a la izquierda, pero más pequeña */
  .carrito-img {
    width: 100px;
    height: 100px;
  }
  .carrito-especificaciones p {
    color: rgb(59, 54, 54);
    font-size: small;
  }
}

/* Media Queries para Mobile */
@media (max-width: 480px) {
  .carrito-item {
    display: flex;
    align-items: center;
    text-align: center;
    height: 150px;
  }

  /* La imagen ocupa todo el ancho */
  .carrito-img {
    width: 100px;
    height: 100px;
  }

  .carrito-info {
    display: flex;
    padding: 0.2rem;
    flex-direction: column;
  }
  .carrito-info h3{
    font-size: small;
  }

  /* El contenedor no se muestra */
  .carrito-specs-container {
      display: none;
  }
}
