.image-gallery-wrapper {
    flex: 1;
    position: relative; 
    z-index: 10;
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    cursor: crosshair;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.main-image-container-gallery {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background: rgba(0, 0, 0, 0.4);
    color: var(--color-texto-principal);
    border: 1px solid var(--color-borde-divisor);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.15);
    transition: all 0.2s;
}

.nav-arrow.left {
    left: 10px;
}

.nav-arrow.right {
    right: 10px;
}

.nav-arrow:hover {
    background: var(--color-primario);
    border-color: var(--color-primario);
    color: var(--color-texto-principal);
    box-shadow: 0 0 10px rgba(var(--color-primario-rgb), 0.8);
}

.main-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}

.zoom-lens {
  position: absolute;
  border: 2px solid #006591;
  background: rgba(255, 255, 255, 0.15);
  pointer-events: none;
  z-index: 15;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.zoom-view-overlay {
  position: absolute;
  pointer-events: none;
  z-index: 20;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: 1px solid var(--color-borde-divisor); 
   box-shadow: 0 8px 18px rgba(255, 255, 255, 0.15);
  background-color: var(--color-fondo-secundario); 
  overflow: hidden;
}

.video-thumbnail {
  position: relative; 
}

.video-thumbnail .thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  border-radius: 6px; 
}

.play-icon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
  cursor: pointer;
  border-radius: 6px; 
}

.video-thumbnail:hover .play-icon-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.play-icon-overlay svg {
    color: white;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.8));
}

.video-container--vertical {
  height: 100%; 
  width: 100%; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.video-container--vertical #youtube-player-container {
    height: 100%; 
    width: 56.25%;
    position: relative; 
}

.video-placeholder {
    z-index: 10; 
}