html {
  overflow-y: scroll; /* Fuerza la barra de scroll vertical SIEMPRE */
}

body {
  background-color: #1a1a1a; /* Establece el fondo principal en un color oscuro */
  color: #f0f0f0;            /* Color del texto principal para que sea legible */
}