body {
  scrollbar-width: none; /* Para navegadores Firefox */
  -ms-overflow-style: none; /* Para navegadores Internet Explorer y Microsoft Edge */
}

body::-webkit-scrollbar {
  display: none; /* Para navegadores basados en WebKit (Google Chrome, Safari, etc.) */
}
